body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('./header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*display: flex;
  align-content: center;
  justify-content: center;*/
}

h1 {
  color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 15%;
  text-transform: uppercase;
  font-size: 38px;
  transition: all 1s;
}

h1:hover {
  color: white;
  font-size: 45px;
}

header {
display: block;
height: 50%;
}

section {
  display: flex;
  height: 50%;
  justify-content: center;
}

#form {
  justify-content: center;
  margin-top: 7%;
}

.button:hover {
  background-color: rgb(255, 210, 194);
  color: black;
  transform: scale(1.1);
  cursor: pointer;
}

.button {
  outline: none;
  transition: all 2s;
  display: inline-block;
  background-color: rgb(255, 99, 42);
  line-height: normal;
  margin-top: 10%;
  width: 230px;
  border: none;
  height: 50px;
  padding: 13px;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', sans-serif;
}